<div class="container home">
<h2>Welcome to Rock, Paper, Scissors!</h2>

<p>Rock Paper Scissors is a zero sum game that is usually played by two people using their hands and no tools. Although the game has a lot of complexity to it, the rules to play it are pretty simple. The outcome of the game is determined by 3 simple rules:</p>

<ul>
  <li><i class="far fa-hand-rock"></i> Rock wins against scissors</li>
  <li><i class="far fa-hand-paper"></i> Scissors win against paper</li>
  <li><i class="far fa-hand-scissors"></i> Paper wins against rock</li>
</ul>

<a href="/play">
  <div class="button">
  Play!
  </div>
</a>

</div>
