<h3>Player 1, make your choice...!</h3>

<div class="game">
  <a href="play/rock" class="action"><p><i class="far fa-hand-rock"></i></p></a>
  <a href="play/paper"class="action"><p><i class="far fa-hand-paper"></i></p></a>
  <a href="play/scissors"class="action"><p><i class="far fa-hand-scissors"></i></p></a>
</div>
