<div class="announcement">
<h2>Player 2, make your selection...!</h2>
</div>
<div class="game">
  <a href="<%= @player_1 %>/rock" class="action">
    <p><i class="far fa-hand-rock"></i></p></a>
  <a href="<%= @player_1 %>/paper" class="action">
    <p><i class="far fa-hand-paper"></i></p></a>
  <a href="<%= @player_1 %>/scissors" class="action">
    <p><i class="far fa-hand-scissors"></i></p></a>
</div>
